th,.mainTbl td{
        text-align: center;
    }
th{
        font-weight: bold;
    }
.accessCode{
        /*width: 100%;*/
        /*padding: 12px 20px;*/
        /*margin: 8px 0;*/
        /*display: inline-block;*/
        /*border: 1px solid #ccc;*/
        /*border-radius: 4px;*/
        /*box-sizing: border-box;*/
    margin-right : 10px;
    background: #f5f5f5;
    font-size: 0.8rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 330px;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;

}
input[type=button]{
    width : 100%;
    height: 2.0em;
    background-color : #555555;
    border : none;
    float : left;
    font-weight: bold;
    margin: 0 auto;
}
.
input[type=button]:hover{
    background-color: #555555;
    color : #2da5da;
}
.shareDelBtn{
    margin-left : 1.2em;
}
.testdiv{
    margin-left : 2em;
}
td{
    /*padding-top : 2em;*/
}
.testdev{
    font-family : Segoe Print;
    font-weight: 700;
    font-size: 2.5em;
}
.test:hover {
    color : blue;
}
.abc:hover{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    color : pink;
}

@media all and (max-width:400px){
    table,td,th{
        font-size : 0.8em;
    }
    .shareDelBtn{
        margin-left : 0;
    }
}