html, body {
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
}
a {
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}

.body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
}
.body-s {
    max-width: 1000px;
    /*sskim*/
    margin-left : 15em;
}
@media screen and (max-width: 600px) {
    .body {
        padding: 20px;
    }
}