<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--><html class="no-js" lang="en"  ng-app="myApp" ng-controller="myCon"><!--<![endif]-->

<!-- Cloned by RabinsXP.com-->
<head>
    <!-- min add-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- add end-->

    <title>Registration</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="assets/plugins/animate.css">
    <link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">

    <!-- CSS Page Style -->
    <link rel="stylesheet" href="assets/css/pages/page_log_reg_v2.css">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="assets/css/theme-colors/default.css" id="style_color">
    <link rel="stylesheet" href="assets/css/theme-skins/dark.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="assets/css/custom.css">

    <!-- alert창 -->
    <script type="text/javascript" src='iwb_viewer/layout/scripts/message.js'></script>
    <link rel="stylesheet" type="text/css" href="iwb_viewer/layout/styles/message_default.css" title="Default">
    <link rel="stylesheet" type="text/css" href="iwb_viewer/layout/styles/message_solid.css" title="Solid">

</head>

<!--=== Content Part ===-->
<body>

<div class="container" ng-model="form" ng-hide="aaa">
    <!--Reg Block-->
    <form id='signup' name="myForm">
        <div class="reg-block" style="width: 600px;">
            <div class="reg-block-header">
                <h2>Sign Up</h2>
                <!--<ul class="social-icons text-center">-->
                <!--<li><a class="rounded-x social_facebook" data-original-title="Facebook" href="#"></a></li>-->
                <!--<li><a class="rounded-x social_twitter" data-original-title="Twitter" href="#"></a></li>-->
                <!--<li><a class="rounded-x social_googleplus" data-original-title="Google Plus" href="#"></a></li>-->
                <!--<li><a class="rounded-x social_linkedin" data-original-title="Linkedin" href="#"></a></li>-->
                <!--</ul>-->
                <!--<p>Already Signed Up? Click <a class="color-green" href="page_login1.html">Sign In</a> to login your account.</p>-->
            </div>

            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-user" ></i></span>

                <input type="text" style="width: 50%; " class="form-control" placeholder='id' name="idU" ng-model='userId' id="userId" ng-pattern=".*[ㄱ-ㅎㅏ-ㅣ가-힣]+.*"  ng-minlength="3" ng-maxlength="20"   autofocus>
                <button   class="btn btn-primary" ng-click="id()" style="float: left; " ng-disabled="myForm.idU.$error.minlength || myForm.idU.$error.maxlength " >아이디확인</button>
                <p style="float: left; margin: 3px; "ng-bind="idCheck" ng-style="st"  />
                <!--<p ng-hide="myForm.idU.$error.minlength || myForm.idU.$error.maxlength">최소3~최대20글자</p>-->
                <p ng-show="myForm.idU.$error.minlength" style="color: red; margin: 3px;" >3글자 보다 적습니다.</p>
                <p ng-show="myForm.idU.$error.maxlength" style="color: red; margin: 3px;">20글자를 넘습니다.</p>
            </div>

            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-user" ></i></span>

                <input type="text" style="width: 50%; " class="form-control" placeholder='name' ng-model='name' autofocus ng-required/>

            </div>

            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-user" ></i></span>

                <input type="text" style="width: 50%; " class="form-control" placeholder='nickName' ng-model='nickName'  name="nickU" ng-minlength="1" ng-maxlength="10"   autofocus>
                <button   class="btn btn-primary" ng-click="nick()" style="float: left; " ng-disabled="myForm.nickName.$error.minlength || myForm.nickName.$error.maxlength  ">닉네임확인</button>
                <p style="float: left; margin: 3px;" ng-bind="nickCheck" ng-style="st2" />

                <p ng-show="myForm.nickU.$error.minlength" style="color: red" >입력해주세요.</p>
                <p ng-show="myForm.nickU.$error.maxlength" style="color: red" >10글자를 넘습니다.</p>
            </div>


            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="text" style="width: 50%;" class="form-control" placeholder='email' name="email2" ng-model="userEmail"  id="email" ng-pattern="/^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i" autofocus/>
            </div>

            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-user" ></i></span>

                <input type="text" style="width: 50%;" class="form-control" placeholder='phone: "-" 없이 입력해주세요'  ng-model='phone' name="phone2" autofocus />

            </div>

            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" style="width: 50%;" class="form-control" placeholder='Password' ng-model='pw' ng-minlength="8" ng-maxlength='20' name="pwU" autofocus />
            </div>
            <div class="input-group margin-bottom-30">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                <input type="password" style="width: 50%;" class="form-control" placeholder='Password check' ng-model='password2'  autofocus /><button  class="btn btn-primary" ng-click="pass()" style="float: left" ng-disabled="myForm.pwU.$error.minlength || myForm.pwU.$error.maxlength ">비밀번호 확인</button>
                <p style="float: left; margin: 3px;"ng-bind="passCheck"  > </p>
                <p ng-show="myForm.pwU.$error.minlength" style="color: red" >8글자보다 적습니다.</p>
                <p ng-show="myForm.pwU.$error.maxlength" style="color: red">20글자를 넘습니다.</p>

            </div>
            <hr>

            <!--<div class="checkbox">-->
            <!--<label>-->
            <!--<input type="checkbox">-->
            <!--I read <a target="_blank" href="page_terms.html">Terms and Conditions</a>-->
            <!--</label>-->
            <!--</div>-->

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <button id='submit' class="btn-u btn-block" ng-click="suc()">Register</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- JS Global Compulsory -->
<script type="text/javascript" src="assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="assets/plugins/backstretch/jquery.backstretch.min.js"></script>
<!-- JS Customization -->
<script type="text/javascript" src="assets/js/custom.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="assets/js/app.js"></script>
<script type="text/javascript" src="assets/js/plugins/style-switcher.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        StyleSwitcher.initStyleSwitcher();
    });
</script>
<script type="text/javascript">
    $.backstretch([
        "assets/img/bg/19.jpg",
        "assets/img/bg/18.jpg",
    ], {
        fade: 1000,
        duration: 7000
    });
</script>
<!-- park gun reg -->
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>


    var myApp = angular.module('myApp',[]);


    myApp.controller('myCon', function($scope,$http,$window) {



        var loginId = $scope.loginId
        var nickCheck = false;
        var nickCheck2 = "";
        var idCheck = false;
        var idCheck2 = "";
        var idTemp = "";
        var email = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
        var korea =  /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/;

        /* 로그인 클릭 */
        $scope.login = function () {

            var member = {
                userId: $scope.loginId, pw: $scope.loginPassword
            }

            $http({
                method: 'post',
                url: 'http://14.32.66.116:10100/iwbook/login',
                data: member
            }).success(function (response) {

                dhtmlx.alert(response.result)

                if (response.result == "success") {

                    sessionStorage["loginId"] = $scope.loginId;
                    $window.location.assign('temp_iwb_main/main.html');


                } else if ((response.result == "failId")) {

                    dhtmlx.alert("아이디를 확인해주세요")

                } else if ((response.result == "failPW")) {

                    dhtmlx.alert("비밀번호를 확인해주세요")
                }


            }).error(function (response) {

                console.dir(response + "error")


                //변수만 넣고싶을때


                dhtmlx.alert("아이디 비밀번호를 확인해주세요!");


            });

        }


        /* 아이디 체크*/
        $scope.id = function () {


            if(korea.test($scope.userId)){

                dhtmlx.alert("영문 또는 숫자만 가능합니다");
                return;
            }

            if ($scope.userId == "") {
                dhtmlx.alert("아이디를 입력해주세요")
                return;

            }




            $http({

                method: 'get',
                url: 'http://14.32.66.116:10100/iwbook/signup',
                /* get방식은 params로 보내야됨 */
                params: {userId: $scope.userId}
            }).success(function (response) {


                idCheck = true;
                idCheck2 = $scope.userId;
//                $scope.st = {"color":"black"};
//                $scope.idCheck = '사용가능한 아이디입니다';
                dhtmlx.alert("사용가능한 아이디입니다")

            }).error(function (response) {

//                $scope.st = {"color":"red"};
//                $scope.idCheck = '사용중인 아이디입니다';
                dhtmlx.alert("이미 사용중인 아이디입니다.")
            });


        };
        // 닉네임 체크


        $scope.nick = function () {

            if ($scope.nickName == "") {
                dhtmlx.alert("닉네임을 입력해주세요")
                return;

            }


            $http({
                method: 'get',
                url: 'http://14.32.66.116:10100/iwbook/signup',
                //get방식은 params로 보내야됨
                params: {nickName: $scope.nickName}
            }).success(function (response) {

//                alert(response.result);
                nickCheck = true;
                nickCheck2 = $scope.nickName;
//                $scope.st2 = {"color":"black"};
//                $scope.nickCheck = '사용가능한 닉네임입니다';
                dhtmlx.alert("사용가능한 닉네임입니다")

            }).error(function (response) {

//                $scope.st2 = {"color":"red"};
//                $scope.nickCheck = '사용중인 닉네임입니다';
                dhtmlx.alert("이미 사용중인 닉네임입니다.")


            });

        };


        /* 패스워드 체크 */

        $scope.pass = function () {


            if ($scope.pw == false) {
                dhtmlx.alert("비밀번호를 입력해주세요")
                return;

            }

            if ($scope.pw == $scope.password2) {

                dhtmlx.alert("비밀번호가 일치합니다.")
            } else {


                dhtmlx.alert("비밀번호가 일치하지 않습니다.")

            }
        };
        /* 회원가입 */
        $scope.suc = function () {





            if (!idCheck || $scope.userId != idCheck2 || $scope.userId == "") {
                dhtmlx.alert("아이디를 확인해주세요")
                return;
            }

            if (!nickCheck || $scope.nickName != nickCheck2 || $scope.nickName == "") {
                dhtmlx.alert("닉네임을 확인해주세요")
                return;
            }

            if ($scope.name == "") {
                dhtmlx.alert("이름을 입력해주세요")
                return;
            }

            if (angular.isUndefined($scope.userEmail) || $scope.userEmail == "") {
                dhtmlx.alert("이메일을 확인해주세요")
                return;
            }

            if ( angular.isUndefined($scope.phone) || $scope.phone == ""){


                dhtmlx.alert("핸드폰번호는 10자리 또는 11자리 입력해주세요")
                return

            }else if($scope.phone.length == 10 || $scope.phone.length == 11) {

            }else{

                dhtmlx.alert("핸드폰 번호를 제대로 입력해주세요")
                return;
            }

            if ($scope.pw != $scope.password2) {


                dhtmlx.alert("비밀번호를 확인해주세요")
                return;

            } else if ($scope.pw == null || $scope.pw == "") {
                dhtmlx.alert("비밀번호를 입력해주세요")
                return;
            }






//            if (null == $scope.userId || null == $scope.name || null == $scope.nickName ||
//                    null == $scope.userEmail || null == $scope.pw || null == $scope.phone) {
//
//
//                // 값이 모두 들어와야 true
//                alert("모두 적어주세요");
//            }


                var member = {
                    userId: $scope.userId,
                    name: $scope.name,
                    nickName: $scope.nickName,
                    email: $scope.userEmail,
                    phone: $scope.phone,
                    pw: $scope.pw
                };
                //get은 통신해서 결과를 가져옵니다.
                $http({
                    method: 'POST',
                    url: 'http://14.32.66.116:10100/iwbook/member',
                    data: member
                    /*  headers: {'Content-Type': 'application/json; charset=utf-8'}*/

                }).success(function (response) {


                    dhtmlx.alert("가입완료!")

                    $scope.idCheck = "", $scope.passCheck = "", $scope.nickCheck = "";

                    $('form').each(function () {
                        this.reset();
                    })
                    window.close();

                }).error(function (response) {

                    dhtmlx.alert("가입실패!!")

                })
            }
        /* 회원가입 취소 */
        $scope.close = function () {

            console.log('close');

            $('form').each(function () {
                this.reset();

                $scope.idCheck = "", $scope.passCheck = "", $scope.nickCheck = "";

            })
        }

        });


            /*
     $scope.userId="", $scope.name="", $scope.nickName="",
     $scope.userEmail="" , $scope.pw="", $scope.password2="", $scope.phone="";
     $scope.idCheck="", $scope.passCheck="", $scope.nickCheck="";
     */
            /*
     $scope.userId="", $scope.name="", $scope.nickName="", $scope.userEmail="" , $scope.password="", $scope.password2="";
     */
            // (function(b, o, i, l, e, r) {


            // 	b.GoogleAnalyticsObject = l;
            // 	b[l] || (b[l] =
            // 		function() {
            // 			(b[l].q = b[l].q || []).push(arguments)
    // 		});
        // 	b[l].l = +new Date;
            // 	e = o.createElement(i);
            // 	r = o.getElementsByTagName(i)[0];
            // 	e.src = 'https://www.google-analytics.com/analytics.js';
        // 	r.parentNode.insertBefore(e, r)
            // }(window, document, 'script', 'ga'));
            // ga('create', 'UA-XXXXX-X');
            // ga('send', 'pageview');
            //     		console.dir($.blockUI);
    var
            blockUI =
                    $.blockUI;
            var unblockUI = $.unblockUI;
    $
    (".login"
    ).hide();

            //     		console.dir($(this).block);
            //     		console.dir($(".header").block());
            //     		console.dir($(".header").block);
            //     		console.dir(blockUI);


    $(
            function () {
                $("#confirm").click(function () {

                });


                $("#demo").click(function () {
                    console.log("demo clicked..........");

                    $(".login").show('slow');
                });

                $("#blockClose").click(function () {
                    $(".login").hide('slow');
                });


            });

</script>

<!--[if lt IE 9]>
<script src="assets/plugins/respond.js"></script>
<script src="assets/plugins/html5shiv.js"></script>
<script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->

</body>

<!-- Cloned by RabinsXP.com-->
</html>