<!DOCTYPE html>
<html>
<head>
  <title>I will be Book</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="layout/scripts/jquery.backtotop.js"></script>
  <script src="layout/scripts/jquery.mobilemenu.js"></script>

  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500">
  <link type="text/css" rel="stylesheet" href="layout/styles/popModal.css">
  <script src="layout/scripts/popModal.min1.js"></script>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width">
  <link type="text/css" rel="stylesheet" href="layout/styles/normalize.css">
  <link rel='stylesheet prefetch'	href='https://s3-us-west-2.amazonaws.com/s.cdpn.io/110131/githubmd.css'>
  <link type="text/css" rel="stylesheet" href="layout/styles/style.css">
  <script src='http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js'></script>
  <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/110131/angular-markdown-editable.js'></script>

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="layout/styles/styles.css">
  <script src="layout/scripts/index.js"></script>

  <script type="text/javascript" src='layout/scripts/message.js'></script>
  <link rel="stylesheet" type="text/css" href="layout/styles/message_default.css" title="Default">
  <link rel="stylesheet" type="text/css" href="layout/styles/message_solid.css" title="Solid">

</head>

<body ng-app="app" ng-controller="mycontroller" id="mycontroller">
<div class="wrapper row1">
  <header id="header" class="hoc clear">
    <nav id="mainav" class="fl_left">
      <ul class="clear">
        <li><i title="내 책장" class="fa fa-book" aria-hidden="true"></i></li>

        <li><i title="맨 앞으로" id="frontPage" class="fa fa-angle-double-left" aria-hidden="true"></i></li>
        <li><i title="뒤로" id="prevPage" class="fa fa-angle-left" aria-hidden="true"></i></li>
        <li><i title="앞으로"id="nextPage" class="fa fa-angle-right" aria-hidden="true"></i></li>
        <li><i title="맨 뒤로"id="endPage" class="fa fa-angle-double-right" aria-hidden="true"></i></li>

        <li title="확대" class="viewSize"><i id="plus" class="fa fa-expand" aria-hidden="true"></i></li>
        <li title="원래대로"class="viewSize"><a href="#" id="ori">ori</a></li>
        <li title="축소" class="viewSize"><i id="minus" class="fa fa-compress" aria-hidden="true"></i></li>

        <li><i title="검색" id="popModal_ex3" class="fa fa-search" aria-hidden="true"></i>
        <li><i title="독서노트" id="popModal_ex1" class="fa fa-sticky-note-o" ng-click="openMemo()" aria-hidden="true"></i></li>
        <li><i title="목차" id="popModal_ex2" class="fa fa-th-list" aria-hidden="true"></i></li>
        <li><i title="북마크" ng-click="addBookmark()" ng-style="bookmarkColor" class="fa fa-bookmark" id="bookmark" aria-hidden="true"></i></li>
        &nbsp;&nbsp;&nbsp;
      </ul>
    </nav>
    <form class="findNo">
      <input type="number" id="currentPage" data-ng-model="viewPage" min="1" max="{{bookContents.bookVO.totalPage}}"  />
      <span id="totalCount"> / {{bookContents.bookVO.totalPage}}</span>
      <button type="submit" class="moveBtn"> <i title="이동" class="fa fa fa-share" aria-hidden="true"></i></button>
    </form>
  </header>
</div>
<div class="wrapper bgded overlay">
  <div id="pageintro" class="hoc clear">
    <div id="viewBox">
      <div id="bookView" class='bookImgs'></div>
    </div>
  </div>
</div>
<div style="display: none">
  <div id="memo">
    <span class="pulsicons">
      <i class="fa fa-plus-circle fa-2x" ng-show="noteplus" ng-init="noteplus = true" ng-click="addNote()"></i>
	</span>
    <div class="tabs">
      <div class="tab">
        <input type="radio" name="css-tabs" id="memoList" checked class="tab-switch">
        <label for="memoList" class="tab-label" ng-click="noteplus = true">memo</label>
        <div class="tab-content">
          <div class="note" ng-repeat="bookMemo in memoInfo">
          <span class="date">{{bookMemo.updateDate | date:"yyyy-MM-dd HH:mm"}} |
            <span>{{bookMemo.page}}page
              <i class="fa fa-share" ng-click="memoMovePage(bookMemo.page)" aria-hidden="true"></i>
            </span>
          </span>
          <span class="icons">
            <i  class="fa fa-check fa-lg" ng-if="edit == false"></i>
            <i  class="fa fa-pencil fa-lg" ng-if="edit == true"></i>
            <i  class="fa fa-trash-o fa-lg" ng-click="del(bookMemo.memoNo)"></i>
          </span>

            <div class="markdown-body" ng-model="bookMemo.content"
                 ng-change="updateDiv(bookMemo.memoNo, bookMemo.content)"
                 ng-focus="edit = true" ng-blur="edit = false"
                 markdown-editable contenteditable="true">{{bookMemo.content}}
            </div>
          </div>
        </div>
      </div>
      <div class="tab">
        <input type="radio" name="css-tabs" id="bookMarkList"  class="tab-switch">
        <label for="bookMarkList" class="tab-label" ng-click="noteplus = false">bookmark</label>
        <div class="tab-content">
          <div class="bookmark" ng-repeat="bookmark in bookmarkInfo">
            <span class="date">{{bookmark.regDate | date:"yyyy-MM-dd HH:mm"}} |
            <span>{{bookmark.page}}page
              <i class="fa fa fa-share" ng-click="memoMovePage(bookmark.page)" aria-hidden="true"></i>
            </span>
          </span>
          <span class="icons">
            <i  class="fa fa-trash-o fa-lg" ng-click="delBookmark(bookmark.page)"></i>
          </span>
            <div class="markdown-body"><p>{{bookmark.bookIndex}}</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="contentsBox">
    <h1 id="contentsT">목 차</h1>
    <div id="contents"></div>
  </div>
  <div id="search">
    <span class="searchicons">
       <div class="icon-search-container" data-ic-class="search-trigger" id="sc">
    <span class="fa fa-search"></span>
    <input type="text" class="search-input" data-ic-class="search-input" id="searchword" ng-keyup="$event.keyCode === 13 && searchfn()"/>
    <span class="fa fa-times-circle" data-ic-class="search-clear"></span>
        </div>
	</span>
    <div class="sd">
      <p class="sp">본문검색</p>
      <div class="markdown-body" ng-repeat = "search in searchInfo">
        <hr>
        <span class="searchpage">{{search.page}}page
              <i class="fa fa fa-share" ng-click="memoMovePage(search.page)" aria-hidden="true"></i>
        </span>
        <div class="markdown-body"><p>{{search.bookIndex}}</p></div>
        <hr>
      </div>
    </div>
  </div>
</div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>


<script>


  var pageSize;
  var subheading;
  var pageIndex;
  var addBookmarkpage;
  var addnotepage;
  var bookId = sessionStorage["bookId"];
  var userId = sessionStorage["loginId"];
  var app = angular.module("app", ['angular-markdown-editable']);
  app.controller("mycontroller", function($scope, $http, $window) {
    $scope.onExit = function() {
      $http({
        url: "http://14.32.66.116:10100/iwbook/lastView",
        method: "patch",
        data: {
          userId: userId,
          bookId: bookId,
          viewPage: $("#currentPage").val()
        }
      })
      return false;
    };
    getViewInfo(bookId, userId, null);
    $window.onbeforeunload =  $scope.onExit;

    $scope.getNewData = function (pageNo, bookId, userId) {
      pageIndex = pageNo;
      console.log("getNewDatepageIndex : " + pageIndex);
      $http({
        method: 'get',
        url: 'http://14.32.66.116:10100/iwbook/bookView',
        params: {page: pageNo, bookId: bookId, userId: userId}
      }).success(function (response) {
        console.log("====newData실행====");
        console.dir(response);
        var list = response.list;
        var viewPage = response.viewPage;
        $scope.viewpageList = list;
        $scope.currentpage = viewPage;
        var str = "";
        for (var i = 0; i < list.length; i++) {
          str += "<img class='pageSize' src='" + list[i].src + "'>";
          if (list[i].page == viewPage) {
            pageIndex = viewPage;
            pageNo = viewPage;
          }
        }
        $("#bookView").html(str);
        if (pageSize) {
          $(".pageSize").width(pageSize + "px");
        } else {
          $(".pageSize").width("595px");
          pageSize = 595;
        }
        with (window) {
          doreloadImages(pageNo);
        }
      });
    }

    //-------------------------------------------------
    function getViewInfo(bookId, userId, callback ) {
      console.log("viewInfo 시작")
      $http({
        url: "http://14.32.66.116:10100/iwbook/viewInfo",
        method: "get",
        params: {
          userId: userId,
          bookId: bookId
        }
      }).success(function (response) {
        console.dir(response);
        console.log("viewInfo 들어옴")
        $scope.bookContents = response;
        subheading = response.indexList;
        var bookIndex = "";
        for (var i = 0; i < response.indexList.length; i++) {
          bookIndex += "<div class='contentsPageNo' id= " + response.indexList[i].page + " ><strong>" + response.indexList[i].bookIndex + "</strong><em class='contentsPage'>" + response.indexList[i].page + "</em></div>";
        }
        $("#contents").html(bookIndex);

        if(callback){
          callback(bookId, userId, $scope.getNewData);
        }
      });
    }

    //-------------------------------------------------
    $scope.edit = false;
    $scope.getMemoList = function (bookId, userId) {
      $http({
        method: 'get',
        url: 'http://14.32.66.116:10100//iwbook/memo',
        params: {bookId: bookId, userId: userId}
      }).success(function (response) {
        $scope.memoInfo = response;
      })
    }

    $scope.openMemo = function () {
      $scope.getMemoList(bookId, userId);
      $scope.getbookmarkList(bookId, userId);
    }
    //-------------------------------------------------
    // Add New Note
    $scope.addNote = function () {
      addnotepage = ($("#currentPage").val());
      console.log("addNotePageNo : " + addnotepage);
      $http({
        method: 'post',
        url: 'http://14.32.66.116:10100//iwbook/memo',
        data: {page: addnotepage, userId: userId, bookId: bookId, content: " "}
      }).success(function () {
        dhtmlx.alert("메모장이 추가되었습니다.");
        $scope.getMemoList(bookId, userId);
      }).error(function (e) {
        alert("오류" + e);
      })
    };

    // Delete Note
    $scope.del = function (memoNo) {
      dhtmlx.confirm("삭제하시겠습니까?", function(result) {
          if (result == true) {
            $http({
              method: 'delete',
              url: 'http://14.32.66.116:10100//iwbook/memo',
              data: {memoNo: memoNo},
              headers: {'Content-Type': 'application/json'}
            }).success(function () {
              dhtmlx.alert("메모가 삭제되었습니다.");
              $scope.getMemoList(bookId, userId);
            }).error(function (e) {
              alert("오류" + e);
            })
          }
          else{
            return;
          }
        });
    };

    // Update Note
    $scope.updateDiv = function (memoNo, content) {
      $http({
        method: 'patch',
        url: 'http://14.32.66.116:10100//iwbook/memo',
        data: {content: content, memoNo: memoNo},
      }).success(function () {
        dhtmlx.alert("내용이 수정되었습니다.");
        $scope.getMemoList(bookId, userId);
      }).error(function (e) {
        alert("오류" + e);
      })
    };
    //----------------------------------------------------
    $scope.edit = false;
    $scope.getbookmarkList = function (bookId, userId, callback) {

      $http({
        method: 'get',
        url: 'http://14.32.66.116:10100//iwbook/bookMark',
        params: {bookId: bookId, userId: userId}
      }).success(function (response) {

        for (var index in response) {
          for (var i = 0; i < subheading.length; i++) {
            if (parseInt(subheading[i].page) > parseInt(response[index].page)) {
              if (i == 0) {
                response[index].bookIndex = "";
                break;
              }
              response[index].bookIndex = subheading[i - 1].bookIndex;
              break;
            }else if((i == subheading.length - 1) && (parseInt(subheading[i].page) <= parseInt(response[index].page))) {
              response[index].bookIndex = subheading[i].bookIndex;
              break;
            }
          }
        }
        $scope.bookmarkInfo = response;
        console.log("bookmarkpages");
        console.dir(response);
        if(callback){
          callback(0, bookId, userId);
        }
      });
    }
    $scope.addBookmark = function () {
      addBookmarkpage = ($("#currentPage").val());
      $http({
        method: 'post',
        url: 'http://14.32.66.116:10100//iwbook/bookMark',
        data: {page: addBookmarkpage, userId: userId, bookId: bookId}
      }).success(function () {
        dhtmlx.alert("북마크가 추가되었습니다..");
        $scope.bookmarkColor = {
          "color": "red"
        }

        $scope.getbookmarkList(bookId, userId);
      }).error(function () {
        $scope.bookmarkColor = {
          "color": "white"
        }
        $scope.delBookmark(addBookmarkpage);
      })
    };
    $scope.delBookmark = function (page) {
      dhtmlx.confirm("삭제하시겠습니까?", function(result){
        if(result == true){
          $http({
            method: 'delete',
            url: 'http://14.32.66.116:10100//iwbook/bookMark',
            data: {page: page, bookId: bookId, userId: userId},
            headers: {'Content-Type': 'application/json'}
          }).success(function () {
            dhtmlx.alert("북마크가 삭제되었습니다.");
            $scope.getbookmarkList(bookId, userId);
          }).error(function (e) {
            alert("오류" + e);
          })
        }
        else{
          return;
        }
      })
    };
    //----------------------------------------------------
    $scope.searchfn = function(){
      var keyword = ($("#searchword").val());
      $http({
        method: 'get',
        url: 'http://14.32.66.116:10100//iwbook/viewSearch',
        params: {bookId : bookId, word: keyword}
    }).success(function(response){

        for (var index in response) {
          for (var i = 0; i < subheading.length; i++) {
            if (parseInt(subheading[i].page) > parseInt(response[index].page)) {
              if (i == 0) {
                response[index].bookIndex = "";
                break;
              }
              response[index].bookIndex = subheading[i - 1].bookIndex;
              break;
            } else if((i == subheading.length - 1) && (parseInt(subheading[i].page) <= parseInt(response[index].page))) {
              response[index].bookIndex = subheading[i].bookIndex;
              break;
            }

          }
        }

        $scope.searchInfo = response;
      })
    }
//-------------------------------------------------------
    $scope.memoMovePage = function (pageNo) {
      with (window) {
        doMove(pageNo);
      }
    }
    getViewInfo(bookId, userId, $scope.getbookmarkList);
  });

  function doMove(pageNo) {
    $.movePage(pageNo);
  }
  function doreloadImages(pageIndex) {
    $.reloadImages(pageIndex);
  }



</script>

<script>

  var allImages;
  var currentImage;
  var bookId = sessionStorage["bookId"];
  var userId = sessionStorage["loginId"];

  $(document).ready(function(){

    var pageNo;

    function reloadImages(pageIndex){
      console.log("reloadImagespageIndex : " + pageIndex);
      $("#currentPage").prop('value', pageIndex);
      var $this = $("#currentPage");
      pageNo = Number($this.val());

      allImages = $(".bookImgs img");
      allImages.hide();
      if(pageIndex < 5){
        currentImage = $(".bookImgs img:nth-child("+pageIndex+")")
      }
      else{
        currentImage = $(".bookImgs img:nth-child(5)")
      }
      currentImage.show();
      movepage(pageNo);
    }
    $.reloadImages = reloadImages;

    function movepage (pageNo){
      $('#bookmark').css('color', '#ffffff');
      $("#currentPage").prop('value', pageNo);
      console.log("movepagepageNo : " + pageNo);
      console.log("movepagepagepropNo : " + pageNo);
      $(currentImage).hide();
      if((4 + (pageNo - pageIndex)) < 0) {
        currentImage = false;
      } else if (pageIndex < 5) {
        currentImage = allImages.get(pageNo - 1);
      } else {
        currentImage = allImages.get(4 + (pageNo - pageIndex));
      }

      if(!currentImage){
        var angularObj = angular.element(document.getElementById('mycontroller'));
        angularObj.scope().getNewData(pageNo, bookId, userId, reloadImages);
        return;
      }
      var bookmarkpages = angular.element(document.getElementById('mycontroller')).scope().bookmarkInfo;
      console.log("reload bookmarkpages");
      console.dir(bookmarkpages);
      for (var i = 0; i < bookmarkpages.length; i++) {
        if(pageNo == bookmarkpages[i].page){
          $('#bookmark').css('color', 'red');
        }
      }
      $(currentImage).show();
      console.log("currentImage");
      console.dir(currentImage.currentSrc);
    }

    $.movePage = movepage;

    //--------------------------------------------------------------------
    $(".moveBtn").click(function(){

      var pageNo = Number($("#currentPage").val());
      movepage(pageNo);
    });

    $("#frontPage").click(function(e){
      e.preventDefault();
      movepage(1);
    });
    $("#endPage").click(function(e){
      e.preventDefault();
      var totalPageNo = angular.element(document.getElementById('mycontroller')).scope().bookContents.bookVO.totalPage;
      movepage(totalPageNo);
    });
    $("#prevPage").click(function(e){
      e.preventDefault();
      var $this = $("#currentPage");
      var prevPage = Number($this.val()) - 1;
      if(prevPage > 0){
        movepage(prevPage);
      } else {
        movepage(1);
      };
    });
    $("#nextPage").click(function(e){
      var totalPageNo = angular.element(document.getElementById('mycontroller')).scope().bookContents.bookVO.totalPage;
      e.preventDefault();
      var $this = $("#currentPage");
      var nextPage = Number($this.val()) + 1;
      if(nextPage <=totalPageNo){
        movepage(nextPage);
      } else {
        movepage(totalPageNo);
      };
    });
    //--------------------------------------------------------


    $("#plus").click(function(e){
      e.preventDefault();
      if(pageSize < 1030){
        pageSize += 50;
        $(".pageSize").width(pageSize);
      }
    });

    $("#ori").click(function(e){
      e.preventDefault();
      $(".pageSize").width("595px");
      pageSize = 595;
    });

    $("#minus").click(function(e){
      e.preventDefault();
      if(pageSize > 445){
        pageSize -= 50;
        $(".pageSize").width(pageSize);
      }
    });

    //---------------------------------------------
    $('#popModal_ex1').click(function(){
      $('#popModal_ex1').popModal({
        html : $('#memo'),
        placement : 'bottomRight',
        showCloseBut : true,
        onDocumentClickClose : false,
        onDocumentClickClosePrevent : '',
        overflowContent : false,
        inline : true,
        asMenu : false,
        beforeLoadingContent : 'Please, wait...',
        onOkBut : function() {},
        onCancelBut : function() {},
        onLoad : function() {},
        onClose : function() {}
      });
    });

    $('#popModal_ex2').click(function(){
      $('#popModal_ex2').popModal({
        html : $('#contentsBox'),
        placement : 'bottomRight',
        showCloseBut : true,
        onDocumentClickClose : false,
        onDocumentClickClosePrevent : '',
        overflowContent : false,
        inline : true,
        asMenu : false,
        beforeLoadingContent : 'Please, wait...',
        onOkBut : function() {},
        onCancelBut : function() {},
        onLoad : function() {},
        onClose : function() {}
      });
    });

    $('#popModal_ex3').click(function(){
      $('#popModal_ex3').popModal({
        html : $('#search'),
        placement : 'bottomLeft',
        showCloseBut : true,
        onDocumentClickClose : false,
        onDocumentClickClosePrevent : '',
        overflowContent : false,
        inline : true,
        asMenu : false,
        beforeLoadingContent : 'Please, wait...',
        onOkBut : function() {},
        onCancelBut : function() {},
        onLoad : function() {},
        onClose : function() {}
      });
    });
    //---------------------------------------------------------
    $('#contents').on("click", ".contentsPageNo", function(){
      var contentsPageMove = $(this).attr("id");
      movepage(contentsPageMove);
    });
    var nav = $('.row1');

    $(window).on('scroll', function () {
      if ($(this).scrollTop() > 10) {
        nav.addClass("f-nav");
      } else {
        nav.removeClass("f-nav");
      }
    });
  });
</script>
</body>
</html>