/*
Theme Name: Zeences HTML
Theme URI: http://themes.iki-bir.com/zeences/light
Author: elemis
Author URI: http://iki-bir.com
Version: 1.0.3
*/

/*-----------------------------------------------------------------------------------*/
/*	RESET
/*-----------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent
}
body {
	line-height:1
}
ol, ul {
	list-style:none
}
blockquote, q {
	quotes:none
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none
}
:focus {
	outline:0
}
ins {
	text-decoration:none
}
del {
	text-decoration:line-through
}
table {
	border-collapse:collapse;
	border-spacing:0
}
.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0
}
.clearfix:after {
	clear:both;
	content:' ';
	display:block;
	font-size:0;
	line-height:0;
	visibility:hidden;
	width:0;
	height:0
}
.clearfix {
	display:inline-block
}
* html .clearfix {
	height:1%
}
.clearfix {
	display:block
}
th, td {
	margin:0;
	padding:0
}
table {
	border-collapse:collapse;
	border-spacing:0
}
.clear {
	clear: both;
}
br {
	line-height: 10px;
}
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner {
 border : 0px;
}
input[type="submit"]:focus, input[type="button"]:focus {
	outline : none;
}
/*-----------------------------------------------------------------------------------*/
/*	GENERAL
/*-----------------------------------------------------------------------------------*/

body {
	background: url('../../images/back3.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #4d4d4d;
	font-family: 'PTSansRegular';
	font-size: 14px;
}
p {
	font-size: 14px;
	line-height: 20px;
}
a {
	color: #4d87ab;
	text-decoration: none;
	-webkit-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
}
a:hover {
	color: #d3573e;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Museo500';
	color: #4d87ab;
	font-weight: normal;
	padding-bottom: 12px;
}
h1 {
	font-size: 22px;
	line-height: 26px;
}
h2 {
	font-size: 20px;
	line-height: 24px;
}
h3 {
	font-size: 18px;
	line-height: 22px;
}
h4 {
	font-size: 16px;
	line-height: 20px;
}
h5 {
	font-size: 14px;
	line-height: 20px;
}
h6 {
	font-size: 12px;
	line-height: 18px;
}
.caps {
	text-transform: uppercase;
}

ol {
	font-family: 'CharisSILItalic';
	font-size: 14px;
	list-style: decimal;
	list-style-position: inside;
	line-height: 20px;
}
ol li {
	padding: 0;
	margin: 0;
}
.intro {
	font-family: 'CharisSILItalic';
	font-size: 21px;
	line-height: 31px;
	text-align: center;
	margin-bottom: -2px;
}
blockquote {
	font-family: 'CharisSILItalic';
	font-size: 18px;
	font-weight: normal;
	line-height: 25px;
	padding-left: 30px;
	background: transparent url(style/images/quote.png) no-repeat left 7px;
}
.hr2 {
	border-top: 3px solid #454545;
	height: 4px;
	border-bottom: 1px solid #454545;
	margin: 36px 0;
}
.hr1 {
	height: 0;
	border-bottom: 1px solid #454545;
	margin: 36px 0;
}
.center {
	text-align: center;
	display: block;
	margin: 0 auto;
}
p .center {
	text-align: center;
	display: block;
	margin: 0 auto 10px;
}
img {
	display: block;
}
img.left {
	float: left;
	margin: 10px 10px 5px 0;
}
img.right {
	float: right;
	margin: 10px 0 5px 10px;
}
.lite1 {
	color: #4d87ab;
}
.lite2 {
	border-bottom: 1px dotted #4d87ab;
}
a.button {
	/*background: #5499c3 url(style/images/button.png) repeat-x;*/
	border: none;
	height: 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	font-family: 'CharisSILItalic';
	font-size: 14px;
	padding: 6px 15px 6px 15px;
	margin: 10px 0;
	display: inline-block;
	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
}



a.button.blue {
	background-color: #5499c3;
}

a.button.green {
	background-color: #4dab96;
}

a.button.lime {
	background-color: #92ab4d;
}

a.button.red {
	background-color: #ab4d63;
}

a.button.purple {
	background-color: #8d4dab;
}

a.button.blue:hover {
	color: #fff;
	background-color: #ab4d63;
}

a.button.green:hover {
	color: #fff;
	background-color: #ab4d63;
}

a.button.lime:hover {
	color: #fff;
	background-color: #ab4d63;
}

a.button.red:hover {
	color: #fff;
	background-color: #4d87ab;
}

a.button.purple:hover {
	color: #fff;
	background-color: #4dab96;
}

.dropcap {
	display:block;
	float:left;
	font-size:45px;
	padding:0;
	margin: 0;
	margin:10px 8px 3px 0;
	font-family: 'Museo500';
}
pre {
	margin: 5px 0px 40px 0px;
	padding: 0 10px 0px 10px;
	display: block;
	clear: both;
	line-height: 20px;
	font-size: 12px;
	border: 1px solid #cfcfcf;
}
.download-box, .warning-box, .info-box, .note-box {
	clear:both;
	margin: 10px 0px;
	text-shadow: none;
	padding: 15px 15px 13px 15px;
	line-height: 17px;
}
.info-box {
	background:#c2ddf9;
	border:1px solid #80bbef;
	color:#4783b7;
}
.warning-box {
	background:#ffcccc;
	border:1px solid #ff9999;
	color:#c31b00;
}
.download-box {
	background:#d1f7b6;
	border:1px solid #8bca61;
	color:#5e9537;
}
.note-box {
	background:#fdebae;
	border:1px solid #e6c555;
	color:#9e660d;
}

/*-----------------------------------------------------------------------------------*/
/*	LAYOUT
/*-----------------------------------------------------------------------------------*/

#wrapper {
	width: 960px;
	margin: 0 auto;
}
#header {
	padding: 30px 0 25px 0;
	display: block;
	overflow: hidden;
	position: relative;
}
.logo {
	float: left;
}
.social {
	float: right;
	position: absolute;
	bottom: 25px;
	right: 0;
}
.social ul li {
	float: left;
	margin-left: 1px;
	background: none;
	padding: 0;
}
#container {
	width: 900px;
	margin: 20px auto;
	padding: 30px;
	overflow: hidden;
	background-color: #fff;
	position: relative;
	-webkit-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.6);
}
#copyright {
	width: 900px;
	margin: 20px auto;
	padding: 17px 30px 13px;
	background-color: #fff;
	-webkit-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.6);
}
#copyright p {
	font-size: 12px;
	text-align: center;
}
#footer {
	padding: 40px 0 0 0;
	overflow: hidden;
}
#footer h3 {
	margin-bottom: 5px;
}
.footer-top {
	border-top: 3px solid #454545;
	height: 4px;
	border-bottom: 1px solid #454545;
	margin: 0 0 36px 0;
}
ul.latest-posts {
	margin-bottom: -15px;
	overflow: hidden;
	padding-left: 2px;
}
ul.latest-posts li {
	padding: 0;
	background: none;
	font-family: 'PTSansRegular';
	font-style: normal;
	font-size: 14px;
	padding-top: 10px;
	margin-bottom: 10px;
	border-top: 1px dashed #454545;
}
ul.latest-posts li a {
	color: #4d4d4d;
}
ul.latest-posts li a:hover {
	color: #d3573e;
}
ul.latest-posts li:first-child {
	padding: 0;
	border: none;
}
ul.latest-posts li span.date {
	float: left;
	font-family: 'CharisSILItalic';
	padding-right: 15px;
	padding-top: 2px;
	text-align: center;
	color: #3d3d3d;
	font-style: normal;
}
ul.latest-posts li em.day {
	font-size: 25px;
	font-style: normal;
}
ul.latest-posts li em.month {
	font-size: 13px;
	text-transform: uppercase;
	display: block;
	line-height: 8px;
	margin-top: 1px;
	font-style: normal;
}
ul.flickr {
	margin-right: -40px;
	margin-bottom: -20px;
	overflow: hidden;
	display: block;
	padding: 0;
}
ul.flickr li {
	padding: 0;
	background: none;
	display: inline-block;
	background-color: #fff;
	padding: 0;
	margin: 0 8px 8px 0;
}
ul.flickr li img {
	width: 58px;
	height: 58px;
	padding: 0;
}
/*-----------------------------------------------------------------------------------*/
/*	MENU
/*-----------------------------------------------------------------------------------*/

.menu {
	font-family: 'Museo500';
	list-style: none;
	font-weight: normal;
	width: 960px;
	padding: 0;
	background: #f8f8f8;
	-webkit-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.6);
	z-index: 1000;
	position: relative;
}
.menu #pagemenu {
	margin: 0;
	list-style-type: none;
	font-family: 'Museo500';
	font-style: normal;
	letter-spacing: normal;
}
.menu #pagemenu div, .menu #pagemenu form {
	position: relative;
	float: left;
	padding: 0;
	background: none;
	padding: 10px;
}
.menu #pagemenu div a, .menu #pagemenu form span{
	padding: 21px 10px;
	text-decoration: none;
	line-height: 2;
	font-size: 14px;
}
#myPagebtn, #pageSelect, #pageSize, .form-group, #pageInput,#pageSet{
	border: 1px solid #e6c555;
	margin: 10px;
	border-radius: 10px;
}

#myPagebtn{
	margin-left: 80px;
}


* html .menu #pagemenu div a {
	display: inline-block;
}
.menu #pagemenu div a:link, .menu #pagemenu div a:visited {
	color: #4d4d4d;
}
.menu #pagemenu div a.active {
	color: #4d87ab;
}
.menu #pagemenu div a.selected {
	color: #4d87ab;
}
.menu #pagemenu div a:hover {
	color: #4d87ab;
}

* html .menu {
	height: 1%;
}
#piecemaker {
	margin-top: -30px;
}


@media all and (max-width : 640px){
	div{
		display: none;
	}
}