@charset "utf-8";
/*
Template Name: Corklow
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
File: Layout CSS
*/

@import url("fontawesome-4.6.3.min.css");
@import url("framework.css");

/* Rows
--------------------------------------------------------------------------------------------------------------- */
.row0, .row0 a{}
.row1, .row1 a{}
.row2, .row2 a{}
.row3, .row3 a{}
.row4, .row4 a{}
.row5, .row5 a{}


/* Top Bar
--------------------------------------------------------------------------------------------------------------- */
#topbar{padding:15px 0; font-size:.8rem; text-transform:uppercase;}

#topbar *{margin:0;}
#topbar ul li{display:inline-block; margin-right:10px; padding-right:15px; border-right:1px solid;}
#topbar ul li:last-child{margin-right:0; padding-right:0; border-right:none;}
#topbar i{margin:0 5px 0 0; line-height:normal;}


/* Header
--------------------------------------------------------------------------------------------------------------- */
#header{}

#header #logo{margin-top:25px;}
#header #logo *{margin:0; padding:0; line-height:1;}
#header #logo h1{font-size:22px; font-variant:small-caps;}
#header #logo p{font-size:12px; text-transform:lowercase;}


/* Page Intro
--------------------------------------------------------------------------------------------------------------- */
#pageintro{padding:20px 0;}

#pageintro article *{text-transform:uppercase;}
#pageintro article .heading{margin:0 0 50px 0; padding:0; line-height:1; font-size:64px;}
#pageintro article p:first-of-type{margin-bottom:20px; font-size:26px;}
#pageintro article footer{margin-top:80px;}
#pageintro article footer a{padding-bottom:5px; border-bottom:2px solid;}


/* Services
--------------------------------------------------------------------------------------------------------------- */
#services{position:relative;}

#services .table{}
#services .table-cell{margin-top:-1px; padding:3%; border:1px solid; border-top:none;}

#services article{text-align:center;}
#services article *{margin:0; line-height:1;}
#services article i{display:inline-block; width:50px; height:50px; line-height:48px; margin-bottom:20px; border:1px solid; text-align:center; font-size:24px;}
#services article .heading{margin-bottom:10px; font-size:1.2rem;}
#services article p{margin-bottom:10px; line-height:1.4;}


/* Content Area
--------------------------------------------------------------------------------------------------------------- */
.container{padding:80px 0;}

/* Content */
.container .content{}

.cta > li:last-child{margin-bottom:0;}/* Used when elements stack in small viewports */
.cta article{display:block; position:relative; min-height:80px; padding:0 0 0 70px;}
.cta article::before, .cta article::after{display:table; content:"";}
.cta article::after{clear:both;}
.cta article *{margin:0; line-height:1;}
.cta article i{display:block; position:absolute; top:0; left:0; width:50px; height:50px; line-height:48px; border:1px solid; text-align:center; font-size:24px;}
.cta article .heading{margin-bottom:10px; font-size:1.2rem;}
.cta article p{margin-bottom:10px; line-height:1.4;}

/* Comments */
#comments ul{margin:0 0 40px 0; padding:0; list-style:none;}
#comments li{margin:0 0 10px 0; padding:15px;}
#comments .avatar{float:right; margin:0 0 10px 10px; padding:3px; border:1px solid;}
#comments address{font-weight:bold;}
#comments time{font-size:smaller;}
#comments .comcont{display:block; margin:0; padding:0;}
#comments .comcont p{margin:10px 5px 10px 0; padding:0;}

#comments form{display:block; width:100%;}
#comments input, #comments textarea{width:100%; padding:10px; border:1px solid;}
#comments textarea{overflow:auto;}
#comments div{margin-bottom:15px;}
#comments input[type="submit"], #comments input[type="reset"]{display:inline-block; width:auto; min-width:150px; margin:0; padding:8px 5px; cursor:pointer;}

/* Sidebar */
.container .sidebar{}

.sidebar .sdb_holder{margin-bottom:50px;}
.sidebar .sdb_holder:last-child{margin-bottom:0;}


/* Footer
--------------------------------------------------------------------------------------------------------------- */
#footer{padding:80px 0; text-align:center;}

#footer .heading, #footer ul{margin-bottom:30px;}
#footer > ul:last-of-type{margin-bottom:40px;}
#footer .faico a{border-radius:50%;}

#footer #copyright{}
#footer #copyright *{margin:0; padding:0;}


/* Transition Fade
--------------------------------------------------------------------------------------------------------------- */
*, *::before, *::after{transition:all .3s ease-in-out;}
#mainav form *{transition:none;!important}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Navigation
--------------------------------------------------------------------------------------------------------------- */
nav ul, nav ol{margin:0; padding:0; list-style:none;}

#mainav, #breadcrumb, .sidebar nav{line-height:normal;}
#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{position:absolute; font-family:"FontAwesome"; font-size:10px; line-height:10px;}

/* Top Navigation */
#mainav{}
#mainav ul.clear{margin-top:3px;}
#mainav ul{text-transform:uppercase;}
#mainav ul ul{z-index:100; position:absolute; width:180px; text-transform:none;}
#mainav ul ul ul{left:180px; top:0;}
#mainav li{display:inline-block; position:relative; margin:0 22px 0 0; padding:0;}
#mainav li:last-child{margin-right:0;}
#mainav li li{width:100%; margin:0;}
#mainav li a{display:block; padding:10px 0;}
#mainav li li i{border:solid; border-width:0 0 1px 0;}
#mainav .drop{padding-left:15px;}
#mainav li li i, #mainav li li .drop{display:block; margin:0; padding:10px 15px;}
#mainav .drop::after, #mainav li li .drop::after{content:"\f0d7";}
#mainav .drop::after{top:35px; left:5px;}
#mainav li li .drop::after{top:15px; left:5px;}
#mainav ul ul{visibility:hidden; opacity:0;}
#mainav ul li:hover > ul{visibility:visible; opacity:1;}

#mainav form{display:none; margin:0; padding:0;}
#mainav form select, #mainav form select option{display:block; cursor:pointer; outline:none;}
#mainav form select{width:100%; padding:5px; border:none;}
#mainav form select option{margin:5px; padding:0; border:none;}

/* Breadcrumb */
#breadcrumb{padding:15px 0;}
#breadcrumb ul{margin:0; padding:0; list-style:none; text-transform:uppercase;}
#breadcrumb li{display:inline-block; margin:0 6px 0 0; padding:0;}
#breadcrumb li a{display:block; position:relative; margin:0; padding:0 12px 0 0; font-size:12px;}
#breadcrumb li a::after{top:3px; right:0; content:"\f101";}
#breadcrumb li:last-child a{margin:0; padding:0;}
#breadcrumb li:last-child a::after{display:none;}

/* Sidebar Navigation */
.sidebar nav{display:block; width:100%;}
.sidebar nav li{margin:0 0 3px 0; padding:0;}
.sidebar nav a{display:block; position:relative; margin:0; padding:5px 10px 5px 15px; text-decoration:none; border:solid; border-width:0 0 1px 0;}
.sidebar nav a::after{top:9px; left:5px; content:"\f101";}
.sidebar nav ul ul a{padding-left:35px;}
.sidebar nav ul ul a::after{left:25px;}
.sidebar nav ul ul ul a{padding-left:55px;}
.sidebar nav ul ul ul a::after{left:45px;}

/* Pagination */
.pagination{display:block; width:100%; text-align:center; clear:both;}
.pagination li{display:inline-block; margin:0 2px 0 0;}
.pagination li:last-child{margin-right:0;}
.pagination a, .pagination strong{display:block; padding:8px 11px; border:1px solid; background-clip:padding-box; font-weight:normal;}

/* Back to Top */
#backtotop{z-index:110; display:inline-block; position:fixed; visibility:hidden; bottom:20px; right:20px; width:36px; height:36px; line-height:36px; font-size:16px; text-align:center; opacity:.2;}
#backtotop i{display:block; width:100%; height:100%; line-height:inherit;}
#backtotop.visible{visibility:visible; opacity:.5;}
#backtotop:hover{opacity:1;}


/* Tables
--------------------------------------------------------------------------------------------------------------- */
table, th, td{border:1px solid; border-collapse:collapse; vertical-align:top;}
table, th{table-layout:auto;}
table{width:100%; margin-bottom:15px;}
th, td{padding:5px 8px;}
td{border-width:0 1px;}


/* Gallery
--------------------------------------------------------------------------------------------------------------- */
#gallery{display:block; width:100%; margin-bottom:50px;}
#gallery figure figcaption{display:block; width:100%; clear:both;}
#gallery li{margin-bottom:30px;}


/* Font Awesome Social Icons
--------------------------------------------------------------------------------------------------------------- */
.faico{margin:0; padding:0; list-style:none;}
.faico li{display:inline-block; margin:8px 5px 0 0; padding:0; line-height:normal;}
.faico li:last-child{margin-right:0;}
.faico a{display:inline-block; width:36px; height:36px; line-height:36px; font-size:18px; text-align:center;}

.faico a{color:#474747; background-color:#FFFFFF;}
.faico a:hover{color:#FFFFFF;}

.faicon-dribble:hover{background-color:#EA4C89;}
.faicon-facebook:hover{background-color:#3B5998;}
.faicon-google-plus:hover{background-color:#DB4A39;}
.faicon-linkedin:hover{background-color:#0E76A8;}
.faicon-twitter:hover{background-color:#00ACEE;}
.faicon-vk:hover{background-color:#4E658E;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Colours
--------------------------------------------------------------------------------------------------------------- */
body{color:#474747; background-color:#F7F7F7;}
a{color:#B97D2D;}
a:active, a:focus{background:transparent;}/* IE10 + 11 Bugfix - prevents grey background */
hr, .borderedbox{border-color:#D7D7D7;}
label span{color:#FF0000; background-color:inherit;}
input:focus, textarea:focus, *:required:focus{border-color:#B97D2D;}
.overlay{
	color:#FFFFFF;
	background-color:inherit;
	background:url('../../images/demo/backgrounds/back3.jpg') no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.overlay::after{color:inherit; background-color:rgba(0,0,0,.55);}

.btn, .btn.inverse:hover{color:#FFFFFF; background-color:#B97D2D; border-color:#B97D2D;}
.btn:hover, .btn.inverse{color:inherit; background-color:transparent; border-color:inherit;}


/* Rows */
.row0, .row0 a{color:#474747; background-color:#F7F7F7;}
.row1{color:#ffffff; background-color:#373737; padding-top: 10px; padding-bottom: 10px;}
.row2, .row2 a{}
.row3{color:#474747; background-color:#FFFFFF;}
.row4{color:#474747; background-color:#F7F7F7;}


/* Top Bar */
#topbar ul li{border-color:rgba(255,255,255,.2);}
#topbar > div:last-of-type li:first-child a{color:#B97D2D;}


/* Header */
#header #logo h1 a{color:inherit; background-color:inherit;}


/* Page Intro */
#pageintro article footer a{color:inherit; border-color:inherit;}


/* Services */
#services .table-cell{border-color:#D7D7D7;}
#services article i{color:#B97D2D; border-color:#D7D7D7;}
#services article:hover i{color:#FFFFFF; background-color:#B97D2D; border-color:#B97D2D;}


/* Content Area */
.cta article i{color:#B97D2D; border-color:#D7D7D7;}
.cta article:hover i{color:#FFFFFF; background-color:#B97D2D; border-color:#B97D2D;}


/* Footer */
#footer #copyright a{color:inherit; background-color:inherit;}


/* Navigation */
#mainav li a{color:inherit;}
.fa-share:hover, #mainav .active a, #mainav a:hover, #mainav li:hover > a, #mainav .active i, #mainav i:hover, #mainav li:hover > i{color:#B97D2D; background-color:inherit;}
#mainav li li i, #mainav .active li i{color:#FFFFFF; background-color:rgba(0,0,0,.6); border-color:rgba(0,0,0,.6);}
#mainav li li:hover > i, #mainav .active .active > i{color:#FFFFFF; background-color:#B97D2D;}
#mainav form select{color:#FFFFFF; background-color:#413E3D;}
.findNo{
	color: #000000;
	margin-top: 10px
}

#currentPage, #totalCount, .moveBtn{
	float: left
}
#totalCount, .moveBtn{
	margin-left: 5px;
}

#totalCount{
	color: #ffffff;
}
#currentPage{
	width: 50px;
}

#currentPage, .moveBtn{
	height: 25px;
}
.moveBtn{
	background-color: #373737;
	width: 30px;
	border: 1px solid #373737;
}

.pageSize {
	width: 595px;
	box-shadow: 10px 10px 20px #4e3e41;
	opacity: 0.8;
}

#bookView, #viewBox {
	margin: 0 auto;
	text-align: center;
	margin-top: 30px;
}



#header{
	margin : 0 auto;
	width: 600px;
}
* {
	margin: 0;
	padding: 0;
}
#contentsBox{
	font: 12px normal 돋움, Helvetica, sans-serif;
	background: #373737;
	color: #fff;
	width: 250px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	font-size: 14px;
}
#contents div {
	margin: 0;
	padding: 15px 0;
	text-align:right;
	background: url(../../images/demo/backgrounds/dotted1.gif) repeat-x left 22px;
}
#contents div strong, #contents div em {
	float: left;
	background: #373737; /*--Combined Property with 'li em'--*/
	padding: 0 10px; /*--Combined Property with 'li em'--*/
}
#contents div em {
	float: none;
}

#contents .active div, #contents div:hover, #contents div:hover > div{color:#B97D2D; cursor: pointer}

#contentsT{
	padding-top: 15px;
	text-align: center;
	font-size: 20px;
	font-family: dotum;
	font-weight:bold;
}

.f-nav {z-index:120; position:fixed; left:0; top:0; width:100%;}

#mainav{
	margin-left: 17px;
}
.markdown-body p, .searchpage{
	padding-left: 20px;
	padding-top: 10px;
	font-size: 16.3px;
}
.sp{
	text-align: center;
	height: 30px;
	line-height: 30px;
}
.sd{
	width: 248px;
	background-color: #e5bb8b;
}
#sc{
	margin-bottom: 10px;
}

#breadcrumb a{color:inherit; background-color:inherit;}
#breadcrumb li:last-child a{color:#B97D2D;}

.container .sidebar nav a{color:inherit; border-color:#D7D7D7;}
.container .sidebar nav a:hover{color:#B97D2D;}

.pagination a, .pagination strong{border-color:#D7D7D7;}
.pagination .current *{color:#FFFFFF; background-color:#B97D2D;}

#backtotop{color:#FFFFFF; background-color:#B97D2D;}


/* Tables + Comments */
table, th, td, #comments .avatar, #comments input, #comments textarea{border-color:#D7D7D7;}
#comments input:focus, #comments textarea:focus, #comments *:required:focus{border-color:#B97D2D;}
th{color:#FFFFFF; background-color:#373737;}
tr, #comments li, #comments input[type="submit"], #comments input[type="reset"]{color:inherit; background-color:#FBFBFB;}
tr:nth-child(even), #comments li:nth-child(even){color:inherit; background-color:#F7F7F7;}
table a, #comments a{background-color:inherit;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport{width:device-width;}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:978px){
	.hoc{max-width:978px;}
}


/* Mobile Devices
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:900px){
	.hoc{max-width:90%;}

	#topbar{}

	#header{padding:10px 0;}
	#header #logo{margin:0;}

	#mainav{}
	#mainav ul
	#mainav form{display:block; margin-top:8px;}

	#breadcrumb{}

	.container{}
	#comments input[type="reset"]{margin-top:10px;}
	.pagination li{display:inline-block; margin:0 5px 5px 0;}

	#footer{}
}


@media screen and (max-width:750px){
	.imgl, .imgr{display:inline-block; float:none; margin:0 0 10px 0;}
	.fl_left, .fl_right{display:block; float:none;}
	.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:none; width:auto; margin:0 0 30px 0; padding:0;}

	#topbar{padding-top:15px; text-align:center;}
	#topbar ul{margin:0 0 15px 0; line-height:normal;}

	#header{text-align:center; display: flex}

	#mainav form{margin-top:0;}

	#pageintro article .heading{margin-bottom:30px; font-size:38px;}
	#pageintro article p:first-of-type{margin-bottom:20px; font-size:18px;}

	#services .table, #services .table-row, #services .table-cell{display:block; width:100%;}
	#services .table-cell{padding:5%;}
	.findNo{
		float: right;
		margin-left: 10px;
	}
}


@media screen and (max-width:450px){
	#header{text-align:center; display: block;}
	#topbar ul li{margin-bottom:2px; padding-right:0; border-right:none;}
	.findNo {
		float: right;
	}
	#mainav .clear .viewSize{
		display: none;
	}
}


/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:650px){
	.scrollable{display:block; width:100%; margin:0 0 30px 0; padding:0 0 15px 0; overflow:auto; overflow-x:scroll;}
	.scrollable table{margin:0; padding:0; white-space:nowrap;}

	.inline li{display:block; margin-bottom:10px;}
	.pushright li{margin-right:0;}

	.font-x2{font-size:1.4rem;}
	.font-x3{font-size:1.6rem;}
}