.icon-search-container {
  display: inline-block;
  border-radius: 50px;
  height: 30px;
  width: 38px;
  position: relative;
  transition: width 0.4s ease-out;
  backface-visibility: hidden;
  background-color: #71CBD0;
}
.icon-search-container.active {
  width: 250px;
}
.icon-search-container.active .fa-times-circle {
  opacity: 1;
}
.icon-search-container.active .search-input {
  width: 200px;
}
.icon-search-container .fa-search {
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  top: 4px;
  left: 8px;
  cursor: pointer;
}
.fa-times-circle {
  opacity: 0;
  color: #d9d9d9;
  font-size: 20px;
  position: absolute;
  top:4px;
  right: 8px;
  transition: opacity 0.4s ease-out;
  cursor: pointer;
}
.icon-search-container .search-input {
  position: absolute;
  cursor: default;
  top:4px;
  left: 45px;
  width: 0;
  border: none;
  outline: none;
  font-size: 15px;
  line-height: 20px;
  background-color: rgba(255, 255, 255, 0);
  transition: width 0.4s ease-out;
}
