@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
* {
  box-sizing: border-box;
}
div[contenteditable] {
  font-size: 1.2em;
  font-family: 'Source Sans Pro', sans-serif;
  box-shadow: none;
  margin: 0;
  width: 100%;
  padding: 10px 20px 10px;
  min-height: 250px;
  background: #e5bb8b;
}
div[contenteditable]:focus {
  font-family: 'Source Code Pro', courier, monospace;
  font-size: 1em;
}
.note {
  background: #eee;
  box-shadow: #999 1px 1px 3px;
  margin: 10px 0;
  padding-top: 40px;
  min-height: 200px;
  width: 250px;
  display: block;
  position: relative;
  overflow: hidden;
  background-color: #e5bb8b;
}
.bookmark {
  background: #eee;
  box-shadow: #999 1px 1px 3px;
  margin: 10px 0;
  padding-top: 40px;
  min-height: 80px;
  width: 250px;
  display: block;
  position: relative;
  overflow: hidden;
  background-color: #e5bb8b;
}
.date {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  font-size: 0.9em;
  font-style: italic;
  color: black;
}
.icons {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
}
.fa-trash-o,
.fa-plus-circle,
.fa-check,
.fa-pencil,
.fa-bookmark
{
  cursor: pointer;
}
form .fa-share {
  color: #ffffff;
}
.fa-check {
  color: #000000;
}
.fa-trash-o {
  color: #C2474B;
}
.fa-trash-o:hover {
  color: #7a292b;
}
.fa-pencil {
  color: #000000;
}
.fa-plus-circle {
  color: #71CBD0;
}
.fa-plus-circle:hover {
  color: #369fa5;
}

.tabs {
  position: relative;
  margin: 1rem 0;
  background: #ffffff;
  height: 14.75rem;
}
.tabs::before,
.tabs::after {
  content: "";
  display: table;
}
.tabs::after {
  clear: both;
}
.tab {
  float: left;
}
.tab-switch {
  display: none;
}
.tab-label {
  width:125px;
  text-align: center;
  margin-left: 3px;
  position: relative;
  display: block;
  line-height: 1.75em;
  height: 2em;
  padding: 0 1.618em;
  background: #ffffff;
  border-right: 0.125rem solid #ffffff;
  color: #1abc9c;
  cursor: pointer;
  top: 0;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
/*.tab-label {*/
  /*position: relative;*/
  /*display: block;*/
  /*line-height: 1.75em;*/
  /*height: 2em;*/
  /*padding: 0 1.618em;*/
  /*background: #1abc9c;*/
  /*border-right: 0.125rem solid #16a085;*/
  /*color: #fff;*/
  /*cursor: pointer;*/
  /*top: 0;*/
  /*-webkit-transition: all 0.25s;*/
  /*transition: all 0.25s;*/
/*}*/
.tab-label:hover {
  top: -0.25rem;
  -webkit-transition: top 0.25s;
  transition: top 0.25s;
}
.tab-content {
  position: absolute;
  z-index: 1;
  top: 1.75em;
  left: 0;
  padding: 0.3rem;
  padding-right:0.6rem;
  background: #fff;
  color: #2c3e50;
  border-bottom: 0.25rem solid #bdc3c7;
  opacity: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  display: none;
}
.tab-switch:checked + .tab-label {
  background: #1abc9c;
  color: #ffffff;
  border-bottom: 0;
  border-right: 0.125rem solid #1abc9c;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
}
.tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  display: inline;
}