/*검색폼 스타일*/
body {
    /*text-align: center;*/
    font-family: "Segoue", sans-serif;
    line-height: 1.6em;
    color: #666;
    font-size: 14px;
}

#namanyay-search-btn {
    background:#333;
    color:white;
    /*font: 'trebuchet ms', trebuchet;*/
    padding:10px 20px;
    border-radius:0 5px 5px 0;
    -moz-border-radius:0 5px 5px 0;
    -webkit-border-radius:0 5px 5px 0;
    -o-border-radius:0 5px 5px 0;
    border:0 none;
    font-weight:bold;

}

#namanyay-search-box {
    background: #f9f9f9;
    padding:10px;
    border-radius:5px 0 0 5px;
    -moz-border-radius:5px 0 0 5px;
    -webkit-border-radius:5px 0 0 5px;
    -o-border-radius:5px 0 0 5px;
    border:0 none;
    width:160px;
    float : left;

}
.search_bar{
    margin-top : 10px;
}
