/* reset css */



html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer , hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, hgroup, menu, nav, section { display: block }

body { line-height: 1 }

ol, ul { list-style: none }

blockquote, q { quotes: none }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

body {
  font: 100% "roboto", "Trebuchet MS", sans-serif;
  /*background-color:#EF476F;*/
}

a { text-decoration: none; }

/**
 * Hidden fallback
 */


/**
 * Styling navigation
 */

.menu-header {
  margin-right: auto;
  margin-left: auto;
  max-width: 22.5rem;
  margin-top:150px;
  /*box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);*/
}

/**
 * Styling top level items
 */


/*--- Navigation---*/
.box{
  position:absolute;
  left:-1200px;
  color:#7F7F7F;
  margin:auto;
  padding:0px;
  z-index:999999;
  width: 20em;
  background:#181818;
  top: 0;
  height:800px;
}
.nav {
  padding: 3em;
}

/*.nav__list ul li {*/
  /*list-style:none;*/
  /*text-align: right;*/
/*}*/
.nav__list li a{
  color: #fff;
  /*font-size: 1.2em;*/
  display: block;
  /*padding:0.5em 0em;*/
  text-decoration:none;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  letter-spacing: 0.1em;
  font-family: 'Droid Serif', serif;
}
.nav__list li a:hover,.nav__list ul li.active a, .nav label:hover{
  color:#25f1b0;
}
/*.nav__list ul {*/
  /*padding: 1em 0;*/
/*}*/
.nav__list h3{
  color:#181818;
  font-size:2.3em;
  font-family: 'Droid Serif', serif;
}
/*.nav__list p{*/
  /*color:#818181;*/
  /*font-size:1.1em;*/
  /*line-height:1.5em;*/
  /*padding:0.3em 0;*/
/*}*/
/*----*/

.nav a, .nav label {
  display: block;
  padding: 1rem;
  color: #fff;
  background-color: #323232;
  /*box-shadow: inset 0 -1px #1d1d1d;*/
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}

/*.nav a:focus, .nav a:hover, .nav label:focus, .nav label:hover {*/
  /*color: rgba(255, 255, 255, 0.5);*/
  /*background: #030303;*/
/*}*/

.nav label { cursor: pointer; }

/**
 * Styling first level lists items
 */

.group-list a, .group-list label {
  padding-left: 2rem;
  background: #252525;
  box-shadow: inset 0 -1px #373737;
}

.group-list a:focus, .group-list a:hover, .group-list label:focus, .group-list label:hover { background: #131313; }

/**
 * Styling second level list items
 */

.sub-group-list a, .sub-group-list label {
  padding-left: 4rem;
  background: #353535;
  box-shadow: inset 0 -1px #474747;
}

.sub-group-list a:focus, .sub-group-list a:hover, .sub-group-list label:focus, .sub-group-list label:hover { background: #232323; }

/**
 * Styling third level list items
 */

.sub-sub-group-list a, .sub-sub-group-list label {
  padding-left: 6rem;
  background: #454545;
  box-shadow: inset 0 -1px #575757;
}

.sub-sub-group-list a:focus, .sub-sub-group-list a:hover, .sub-sub-group-list label:focus, .sub-sub-group-list label:hover { background: #333333; }

/**
 * Hide nested lists
 */

.group-list, .sub-group-list, .sub-sub-group-list {
  height: 100%;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .5s ease-in-out;
  transition: max-height .5s ease-in-out;
}

.nav__list input[type=checkbox]:checked + label + ul { /* reset the height when checkbox is checked */
max-height: 1000px; }

/**
 * Rotating chevron icon
 */

label > span {
  float: right;
  -webkit-transition: -webkit-transform .65s ease;
  transition: transform .65s ease;
}

.nav__list input[type=checkbox]:checked + label > span {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}


@media all and (max-width:400px){

  li{
    font-size : 0.6em;
  }
  .group-list{
    width : 120px;
  }

}